.logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: red;
}

.header {
    height: 60px;
    background-color: #8AC4304D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.list {
    list-style: none;
    display: flex;
}

.list li {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.button {
    background-color: #FF571E;
    color: white;
    height: 45px;
    width: 140px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
}